

#navbar .logo {
  float: none;
  text-align: center;
}

/* These are very specific */
/* if in main you have #navbar ul li  */
/* Then you must have the exact same syntax here */
/* So in the case where we have #navbar ul li a, you need exact same thing here */
#navbar ul, #navbar li {
  float: none;
}

#navbar ul li a {
  padding: 5px;
  border-bottom: #444 dotted 1px;
}

#home-info {
  height: 550px;
}

/* Home INFO */
#home-info .info-img {
  display: none;
}

#home-info .info-content {
  float: none;
  width: 100%;
}

#showcase {
  height: 100%;
}

#showcase .showcase-content {
  padding: 30px 0px;
}

#home-info .info-content {
  padding: 30px 30px;
}

/* Boxes */
.box {
  float: none;
  width: 100%;
}

#features {
  height: 100%;
}

/* About Info */
#about-info .info-right,
#about-info .info-left {
  float: none;
  width: 100%;
}

.l-heading {
  text-align: center;
}

#about-info .info-right {
  margin-top: 30px;
}

/* Contact Form */
#contact-info .box {
  border-bottom: #444 1px dotted;
}

