
/* Importing google fonts:  https://fonts.google.com/specimen/Open+Sans?query=open+sans */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  /* Padding does not take up the width */
  box-sizing: border-box;

  /* reset padding */
  padding: 0;
  margin: 0;
}

body { 
  /* Open Sans pulling from fonts.googleapis.com above */
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  /* Remove any bullets */
  list-style: none;
}

a {
  color: #333;
  /* Remove underline of links */
  text-decoration: none;
}

h1, h2 {
  /* light to match google import? */
  font-weight: 300;
  /* line height in case headings go on to multiple lines they are not to far apart */
  line-height: 1.2;
}

p {
  /* Took away all margins so we Add some margin back in because we removed it all with * all ref */
  margin: 10px 0;
}

img {
  /* 100% of container by default */
  width: 100%;
}

/* Navbar */

.navbar {
  display: flex;
  /* Since it's row, does cross axis which is vertical */
  align-items: center;
  /* Main axis - to put each on opposite sides */
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  /* this position will fix it so it does not move... */
  position: fixed;
  /* top is tied to position */
  top:  0px;
  padding: 0 30px;
}


.navbar a {
  color: #fff;
  /* padding makes button box bigger */
  padding: 10px 20px;
  /* margin adds space ( gap ) between buttons */
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: #28a745 2px solid;
}

.navbar ul {
  /* display flex so they align in a row */
  display: flex;
}

.navbar .logo {
  font-weight: 400;
}

/* Header */
.hero {
  /* This is Brad's original code for the background - overlay is separate */
  /* background: url('../images/home/showcase.jpg') no-repeat center center/cover; */


  /* This was recommended as cleaner implimentation:  https://www.udemy.com/course/modern-html-css-from-the-beginning/learn/lecture/13285438#questions/15061974 */

  /* The Brad overlay technic is old and outdated. Guess this video is old. See a better solution.
      Adekunle Saheed · Lecture 53 · 6 days ago
      Background-color should not be on top of background-image it is a bad practices placing them on top of one another. This is why we have gradient, we can place gradient on top of background-color and background-image to achieve the same visual effect of adding black color and opacity together in a more simple way.

      The technic Brad used is too long and too complex because you need to remember to add positioning relative to parent element and create pseudo selector for the child element with positioning absolute and then finally use z-index in a wildcard selector for the parent element. This is a wet codes and too long.

      We can solve this problem and achieve same visual effect just inside one element which is the target element (hero class) with one line of codes.


      Now our CSS codes will look this and this is all what you need: */

  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(24, 23, 23, 0.8)), url("../images/home/showcase.jpg") no-repeat center center/cover;

  height: 100vh;

  /* per 1:23 in 53. Hero Section & Overlay, position will be explained in Overlay commentary */
  position: relative;
  color: white;
}

header .content {
  /* This was my original guestimate of what to do */
  /* top: 40vh;
  text-align: center;
  position: relative; */

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  /* justify-content: only works in column if there is a height; */
  justify-content: center;
  /* Need to add height: 100% since it is in the hero element which is already 100vh */
  height: 100%;

  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
}

.hero .content p {
  font-size: 23px;
  /* Set max witdth so paragraph does not extend full width... looks nicer */
  max-width: 600px;

  margin: 20px 0 30px;
}

/* Icons */
.icons {
  padding: 30px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i {
  background-color: #28a745;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
}

.flex-items {
  /* padding: 20px 50px; */
  display: flex;
  align-items: center;
  /* Main axis - to put each on opposite sides */
  justify-content: space-between;
}

/* Move all hero content forward in front of the overlay */
/* Removed this section because it's not needed with linear gradient overlay */
/* .hero * {
  z-index: 10;
} */


/* BE SURE TO COME BACK AND SEARCH COURSE FOR HERO QUESTIONS */

/* ::before or ::after allows you to insert content before or after the element... NOTE the double :: */

/* THIS ENTIRE BLOCK and the z-index is to create a dark overlay */
.removedhero::before {
  /* Can put text in content */
  content: '';

  /* For Overlay: */
  /* here we want to position this absolute within the parent AND the parent, needs to be position: relative to work on the next element:  .hero*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* this background will create a black overlay at 0.6 opacity, but also adds overlay to text and buttons (without a z-index) */
  background:rgba(0,0,0,0.8);
}

.removedhero * {
  z-index: 10;
}
